/* You can add global styles to this file, and also import other style files */

html, body{
  background-color: #E7EEEC;
  height: 100%;
  font-family: 'Padauk', sans-serif;
  font-size: medium;
}
.card{
  margin: 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.rounded-circle{
  max-width: 3rem;
  max-height: 3rem;
}

.rounded-large{
  /* border-radius: 50%!important; */
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
