/* You can add global styles to this file, and also import other style files */

html, body{
  background-color: #E7EEEC;
  height: 100%;
  font-family: 'Padauk', sans-serif;
  font-size: medium;
}
.card{
  margin: 5px;
}

html, body { min-height: 100%; }
body { margin: 0; font-family: "Roboto", "Helvetica Neue", sans-serif; }


.nav-link:hover{
  background-color: #ffffff91;
  border-radius: 5%;
  font-size: 101%;
}
.rounded-circle{
  max-width: 3rem;
  max-height: 3rem;
}

.rounded-large{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h4, h5{
  text-align: center;
}


@media screen and (min-width: 820px){
  .sticky{
    top: 0;
    position: sticky;
  }
}
