<div class="card add-form">
  <div class="card-title">Add new volunteer to database</div>
<div class="card-body">
  <form (ngSubmit)="onSaveMember(M)" #M="ngForm">
    <div class="form-group row">
      <label for="firstName" class="col col-form-label">First name</label>
      <div class="col">
        <input type="text" class="form-control"
        ngModel name="firstName"
        required
        #firstName="ngModel">
        <span class="help-block" *ngIf="!firstName.valid && firstName.touched">
          <p>Please enter a valid first name</p>
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label for="lastName" class="col col-form-label">Last name</label>
      <div class="col">
        <input type="text" class="form-control"
        ngModel name="lastName"
        required
        #lastName="ngModel">
        <span class="help-block" *ngIf="!lastName.valid && lastName.touched">
          <p>Please enter a valid last name</p>
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col col-form-label">Telephone</label>
      <div class="col">
        <input type="text" class="form-control"
        ngModel name="telephone"
        >
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col col-form-label">Email</label>
      <div class="col">
        <input type="text" class="form-control"
        ngModel name="email"
        >
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col col-form-label">Position/Role</label>
      <div class="col">
        <textarea class="form-control"
        ngModel name="position"
        ></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col col-form-label">Residence</label>
      <div class="col">
        <textarea class="form-control"
        ngModel name = "residence"
        ></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col col-form-label">Description/Notes</label>
      <div class="col">
        <input type="text" class="form-control"
        ngModel name="description"
        >
      </div>
    </div>
    <div class="form-group row" *ngIf="M.valid">
      <label for="imgUpload" class="col col-form-label">Upload profile image</label>
      <div class="col">
        <input type="file" class="form-control-file" (change)="onuploadProfileImg($event)">
      </div>
    </div>
    <div *ngIf="isUploading">
      Uploading.....{{ imgUploadPercent | async | number : '1.0-2'}}%
    </div>
    <div *ngIf="retrieving">
      Previewing image...
    </div>
    <img [src]="imgDownloadURL | async" alt="" style="max-height: 300px; max-width: 300px; border-radius: 50%;">

    <button type="submit" class="btn btn-primary btn-lg btn-block"
    [disabled]="(!M.valid || isUploading)">Save</button>
  </form>
  <!-- <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      Your data
      {{ newMember | json}}
    </div>
  </div> -->

</div>
</div>
