
ul,li:hover{
  font-size:120;
}
ul{
  float: none;
}

.isActive{
  font-size: 120%;
  background-color: green;
  opacity: 40%;
}
.isActive,a{
  color: gold;
  text-decoration: none;
}

body{
  background-color:red;
  height:100%;
}


