
  <ul class="nav navbar-nav sticky" style="border-radius: 8%;">
    <li class="list-group-item" routerLinkActive="isActive"><a routerLink="/summary">Summary</a></li>
    <li class="list-group-item" routerLinkActive="isActive"><a routerLink ="children">Children</a> </li>
    <li class="list-group-item" routerLinkActive="isActive"><a routerLink ="volunteers">Volunteers</a> </li>
    <li class="list-group-item" routerLinkActive="isActive"><a routerLink ="management">Management</a></li>
    <li class="list-group-item" routerLinkActive="isActive"><a routerLink ="admin">Admin</a> </li>
  </ul>

