<div class="card" *ngFor="let member of selectedMember | async">


  <div class="card-body">

    <h4 class="card-title">PAL Management Member PROFILE</h4>
    <p>Position : {{ member.position }}</p>
    <h5 class="card-subtitle mb-2">{{member.firstName }} {{ member.lastName }}</h5>
    <div *ngIf="member.img" class="profile-img">
      <img [src]="'management/'+member.img | getDownloadURL" class="card-img-top rounded-large" alt="">
    </div>
    <div *ngIf="!member.img" class="profile-img">
      <img src="https://via.placeholder.com/150" class="card-img-top rounded-large" alt="">
    </div>
    <p class="card-text">
      <strong> Notes/Desciption:</strong> {{ member.description }}
    </p>
    <h6 class="card-subtitle-muted">Member of Programs</h6>

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Program 1</li>
    <li class="list-group-item">Program 2</li>
    <li class="list-group-item">Program 3</li>
  </ul>
  <button (click)="onDeleteMember()" class="btn btn-danger">Delete this profile</button>

</div>
