
    <div class="card" style="width: auto;">
      <div class="card-title">Add new child to database</div>
    <div class="card-body">
      <form (ngSubmit)="onSaveChild(f)" #f="ngForm">
        <div class="form-group row">
          <label for="firstName" class="col col-form-label">First name</label>
          <div class="col">
            <input type="text" class="form-control"
            ngModel name="firstName"
            required
            #firstName="ngModel">
            <span class="help-block" *ngIf="!firstName.valid && firstName.touched">
              <p>Please enter a valid first name</p>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="col col-form-label">Last name</label>
          <div class="col">
            <input type="text" class="form-control"
            ngModel name="lastName"
            required
            #lastName="ngModel">
            <span class="help-block" *ngIf="!lastName.valid && lastName.touched">
              <p>Please enter a valid last name</p>
            </span>
          </div>

        </div>
        <div class="form-group row">
          <label for="" class="col col-form-label">Residence</label>
          <div class="col">
            <textarea class="form-control"
            ngModel name = "residence"
            ></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col col-form-label">Class/Form</label>
          <div class="col">
            <input type="text" class="form-control"
            ngModel name="class"
            >
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col col-form-label">School</label>
          <div class="col">
            <textarea class="form-control"
            ngModel name="school"
            ></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col col-form-label">Telephone</label>
          <div class="col">
            <input type="text" class="form-control"
            ngModel name="telephone"
            >
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col col-form-label">Parent(s) Name</label>
          <div class="col">
            <textarea type="text" class="form-control"
            ngModel name="parentName"
            ></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col col-form-label">Parent Telephone</label>
          <div class="col">
            <input type="text" class="form-control"
            ngModel name="parentTel"
            >
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col col-form-label">Notes/Description on Child</label>
          <div class="col">
            <textarea type="text" class="form-control"
            ngModel name="description"
            ></textarea>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="" class="col col-form-label">Interests</label>
          <div class="col">
            <div class="row">
              <div class="col-8">
                <input type="text" class="form-control" id="interest"
                ngModel name="interest"
                #interest ="ngModel"
                >
              </div>
              <div class="col-4">
                <button class="btn btn-primary" (click)="onAddInterest(interest)" type="button">Add</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let interest of interests">
          <ul class="list-group">
            <li class="list-group-item">{{interest}}</li>
          </ul>
        </div>
        <br>
        <div class="form-group row">
          <label for="" class="col col-form-label">Programs</label>
        </div>
        <div class="form-group row">
              <div class="col-6">
                <input type="text" class="form-control" id="programName"
                ngModel name="programName"
                #programName ="ngModel"
                placeholder="Program Name"
                >
              </div>
              <div class="col-3">
                <input type="text" class="form-control" id="programYear"
                ngModel name="programYear"
                #programYear ="ngModel"
                placeholder="Program Year"
                >
              </div>
              <div class="col-3">
                <button class="btn btn-primary" (click)="onAddProgram(programName, programYear)" type="button">Add</button>
              </div>
        </div>
        <div *ngFor="let program of programs">
          <ul class="list-group">
            <li class="list-group-item">{{program.program}} {{program.year}}</li>
          </ul>
        </div>
        <br>
        <div class="form-group row" *ngIf="f.valid">
          <label for="imgUpload" class="col col-form-label">Upload profile image</label>
          <div class="col">
            <input type="file" class="form-control-file" (change)="onuploadProfileImg($event)">
          </div>
        </div><br>
        <div *ngIf="isUploading">
          Uploading.....{{ imgUploadPercent | async | number : '1.0-2'}}%
        </div>
        <div *ngIf="retrieving">
          Previewing image...
        </div>
        <!-- <img [src]="'avatar-placeholder-293x300.png' | getDownloadURL" /> -->
        <!-- <a [href]="imgDownloadURL | async">{{ imgDownloadURL | async }}</a> -->
        <img [src]="imgDownloadURL | async" alt="" style="max-height: 300px; max-width: 300px; border-radius: 50%;">

        <button type="submit" class="btn btn-primary btn-lg btn-block"
        [disabled]="(!f.valid || isUploading)">Save</button>
      </form>

    </div>
    </div>




