

<div class="card">
  <div class="container" style="margin-left: vw;margin-right: 1vw;"  *ngIf="!isFetching">
    <div class="input-group mb-3" style="margin-top: 1vw;">
      <input type="text" class="form-control" placeholder="search"
      aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="searchText">
    </div>

    <div class="row">
      <span style="width: 12rem;">
        Email
      </span>
      <span class="heading" style="width: 7rem;"> Verify </span>
      <span class="heading" style="width: 7rem;"> Children </span>
      <span class="heading" style="width: 7rem;"> Volunteers </span>
      <span class="heading" style="width: 7rem;"> Management </span>
    </div>
    <app-access-control *ngFor="let userAccess of usersAccessList | async | adminFilter: searchText" [userAccessData] = "userAccess"></app-access-control>
    </div>
  </div>
  <p *ngIf="isFetching">
    Loading.....
  </p>



