
<div class="card" *ngFor="let volunteer of selectedVolunteer | async">


    <div class="card-body">

      <h4 class="card-title">PAL CHILD PROFILE</h4>
      <p>Selected is : {{ volunteerId }}</p>
      <h5 class="card-subtitle mb-2">{{volunteer.firstName }} {{ volunteer.lastName }}</h5>
      <div *ngIf="volunteer.img">
        <img [src]="'volunteers/'+volunteer.img | getDownloadURL" class="card-img-top rounded-large" alt="">
      </div>
      <div *ngIf="!volunteer.img">
        <img src="https://via.placeholder.com/150" class="card-img-top rounded-large" alt="">
      </div>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
      <h6 class="card-subtitle-muted">Programs</h6>

    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <button (click)="onDeleteVolunteer()" class="btn btn-danger">Delete this profile</button>

  </div>
