/* You can add global styles to this file, and also import other style files */
:root{
  --hover: #E7EEEC
}
html, body{
  background-color: #E7EEEC;
  min-height: 100%;
  font-family: 'Padauk', sans-serif;
  font-size: medium;
}


.card{
  margin: 5px;
}

.add-form{
  width: 60%;
  margin:auto auto;
}

.card-title{
  padding: 0.5rem 2rem;
  text-align: center;
  font-size: larger;
}
.card-img-top{
  width: 150px;
  height: 150px;
}
.nav-link:hover{
  background-color: #ffffff91;
  border-radius: 5%;
  font-size: 101%;
}

.rounded-circle{
  max-width: 3rem;
  max-height: 3rem;
}

.rounded-large{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form-group.row{
  margin-top: 20px;
}

.sticky{
    top: 0;
    position: sticky;
  }
