/* You can add global styles to this file, and also import other style files */
:root{
  --hover: #E7EEEC;
  --app-font-family: 'Nunito', 'Inter', sans-serif;
}
html, body{
  background-color: #E7EEEC;
  min-height: 100%;
  font-family: var(--app-font-family);
  font-size: medium;
}

body,
button,
input,
select,
textarea {
  font-family: inherit;
}


.card{
  margin: 5px;
}

.add-form{
  width: 60%;
  margin:auto auto;
}

.card-title{
  padding: 0.5rem 2rem;
  text-align: center;
  font-size: larger;
}
.card-img-top{
  width: 150px;
  height: 150px;
}
.nav-link:hover{
  background-color: #ffffff91;
  border-radius: 5%;
  font-size: 101%;
}

.rounded-large{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form-group.row{
  margin-top: 20px;
}

.sticky{
    top: 0;
    position: sticky;
  }
